@import url("https://fonts.googleapis.com/css2?family=Special+Gothic&family=Special+Gothic+Expanded+One&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.content {
  opacity: 0; /* Initially hidden */
  transform: translateY(20px); /* Slightly moved down */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transition for opacity and movement */
}

.content.visible {
  opacity: 1;
  transform: translateY(0); /* Move to its original position */
}
